/*FONTS*/

@font-face {
    font-family: 'EuphoriaScriptRegular';
	src: url('Fonts/EuphoriaScript-Regular-webfont.eot');
	src: url('Fonts/EuphoriaScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('Fonts/EuphoriaScript-Regular-webfont.woff') format('woff'),
	url('Fonts/EuphoriaScript-Regular-webfont.ttf') format('truetype'),
	url('Fonts/EuphoriaScript-Regular-webfont.svg#EuphoriaScriptRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('Fonts/ColabThi-webfont.eot');
    src: url('Fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabThi-webfont.woff') format('woff'),
         url('Fonts/ColabThi-webfont.ttf') format('truetype'),
         url('Fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('Fonts/ColabBol-webfont.eot');
    src: url('Fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabBol-webfont.woff') format('woff'),
         url('Fonts/ColabBol-webfont.ttf') format('truetype'),
         url('Fonts/ColabBol-webfont.svg#ColaborateBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*MODS TO BASIC HTML TAGS*/

/*div {
		border:1px solid yellow;
}
*/
body{
	font: 15px "ColaborateThinRegular", Georgia, serif;
	margin:0;
	padding:0;
}

body, .bar {
	background:#F2EFE9;
}

h1 {
		font-family: "ColabBol-webfont", Georgia, serif;
    font-size:3em;
    margin-top: 80px;
}

h2 {
	font-family: "ColaborateBoldRegular", Georgia, sans-serif;
	text-align:center;
}

p {
	margin:20px;
}

section {
	height:500px;
}

a{
	text-decoration: none;
	color:rgba(28,28,28,1);
}


/*BROAD CLASSES*/
.container {
	position:relative;
	display:block;
}

.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  zoom: 1;
}

.right { 	float:right;	}
.left {		float:left;		}
.half {
	width:50%;
	margin:0;
}

.full {
	width:100%;
	margin:0;
	left:0;
}


.content p {
	font-size: 1.3em;
}

.vcenter {
	position:absolute;
	top:25%;
}

.hcenter {
	margin-left: 25%;
}

.outline {
	border: 3px solid rgba(237, 237, 237, 1);
	webkit-border-radius:10px;
	moz-border-radius:10px;
	border-radius:10px;
	background: rgba(38,38,38,1);
}


/*SECTION-SPECIFIC CSS*/
header nav {
	padding: 5px;
	margin: 5px;
}

nav p {
  text-shadow:1px 1px 1px rgb(197, 149, 26); /*yellow*/
  font-size: 1.5em;
	margin: 7.5px 20px;
	font-family: "Palatino Linotype";
	font-variant: small-caps;
}

#my_name {
	font-family:"EuphoriaScriptRegular", Georgia, serif;
	font-size: 4em;
	position: absolute;
	bottom:-22px;
	font-variant: normal;
}

nav a {
	padding:0;
 
  -webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

nav ul {
	padding:0;
	margin: 0;
}

nav li {
	display:block;
}

header nav li {
	display: inline-block;
}

nav a:hover{
	color:rgba(197, 149, 26);
	text-shadow:-1px -1px 15px black;
}

nav img {
	max-height: 50px;
 	border: 0;

	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

nav img:hover{
	max-height: 55px;
}

.sidebar {
	position:fixed;
	top:33%;
	right:0;
	min-height:33%;
	width: 70px;
	padding-right: 10px;
}

#main {
	margin-top:100px;
	margin-bottom: 15px;
}

#intro h1 {
	font-size: 5em;
	margin:40px;
  text-shadow:2px 1px 1px rgb(98,78,68);
	font-family: "ColaborateThinRegular";
}

#intro {
	text-align: center;
	background-color:#2D5F56;
	color:rgb(235, 241, 157);
}

#intro h2 {
	font-family: "ColaborateThinRegular", Arial, sans-serif;
}

.box {
	display:inline-block;
	height:10em;
	width:10em;
	margin:0.5em;
	background-color:#902F3C;
}

.box p {
	margin-top: 4em;
}

#displaycase {
	padding: 4em;
}

#section1 {
	color:#902F3C;
	background-color:#E9CB97;
}

#section1 h1 {
    text-shadow:2px 1px 1px #EDEDED;
}

#section1 a {
	color:white;
	text-align: center;
	vertical-align: center;
}

#section2 {
	background-color: #902F3C;
	color:#F4E3C5;
	text-shadow:black 1px 1px 1px;
}

#section2 .left.half {
	padding:0 100px;
	box-sizing:border-box;
	text-align: justify;

}

.right.half {
	padding-right: 200px;
	text-align: justify;
	box-sizing:border-box;
}

.bar {
	position:fixed;
	z-index:1;
}

header {
	top:0px;
	left:0px;
	height:65px;
}

footer {
	bottom:0px;
	left:0px;
	height:15px;
	text-align: right;
}

footer p {
	margin: 15px 10px 0 0;
}
